body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #8aa4ad ;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.awareness {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ceebf6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.awareness:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color:#a2dff5 ;
}

.awareness img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.text {
    max-width: 600px;
    padding-left: 20px;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    color: #555;
}

.reverse {
    flex-direction: row-reverse;
}